# MONGODB_URI=mongodb+srv://shayanulhaq:12345@cluster0.z4at5nl.mongodb.net/luxeshop
MONGODB_URI=mongodb://localhost:27017/luxeshop
JWT_SECRET=your-secret-key-here
PORT=3001
NODE_ENV=development
PAYMENT_MODE=mock
FRONTEND_URL=http://localhost:3000
